[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
	ignore = dirty
[submodule "vim/bundle/peaksea"]
	path = vim/bundle/peaksea
	url = git://github.com/vim-scripts/peaksea.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/haml"]
	path = vim/bundle/haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
	ignore = dirty
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/ragtag"]
	path = vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/blackboard"]
	path = vim/bundle/blackboard
	url = git://github.com/nelstrom/vim-blackboard.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/characterize"]
	path = vim/bundle/characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/autoclose"]
	path = vim/bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "vim/bundle/trailing-whitespace"]
	path = vim/bundle/trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "vim/bundle/yankring"]
	path = vim/bundle/yankring
	url = git://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "vim/bundle/mustang"]
	path = vim/bundle/mustang
	url = git://github.com/croaker/mustang-vim.git
[submodule "vim/bundle/textobj-user"]
	path = vim/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
	ignore = dirty
[submodule "vim/bundle/textobj-rubyblock"]
	path = vim/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/bundle/textobj-comment"]
	path = vim/bundle/textobj-comment
	url = git://github.com/glts/vim-textobj-comment.git
[submodule "vim/bundle/visual-star-search"]
	path = vim/bundle/visual-star-search
	url = git://github.com/nelstrom/vim-visual-star-search.git
[submodule "tmux/powerline"]
	path = tmux/powerline
	url = git://github.com/erikw/tmux-powerline.git
[submodule "vim/bundle/tmux-navigator"]
	path = vim/bundle/tmux-navigator
	url = git://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/bundle/smooth-scroll"]
	path = vim/bundle/smooth-scroll
	url = git://github.com/terryma/vim-smooth-scroll.git
[submodule "vim/bundle/textobj-fold"]
	path = vim/bundle/textobj-fold
	url = git://github.com/kana/vim-textobj-fold.git
	ignore = dirty
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/markdown-folding"]
	path = vim/bundle/markdown-folding
	url = git://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/bundle/rdoc"]
	path = vim/bundle/rdoc
	url = git://github.com/depuracao/vim-rdoc.git
[submodule "vim/bundle/togglelist"]
	path = vim/bundle/togglelist
	url = git://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundle/rubocop"]
	path = vim/bundle/rubocop
	url = git://github.com/ngmy/vim-rubocop.git
[submodule "vim/bundle/snippets"]
	path = vim/bundle/snippets
	url = git://github.com/honza/vim-snippets.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = git://github.com/benmills/vimux.git
[submodule "vim/bundle/vroom"]
	path = vim/bundle/vroom
	url = git://github.com/skalnik/vim-vroom
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/slim"]
	path = vim/bundle/slim
	url = git://github.com/slim-template/vim-slim.git
